body{
    margin: unset;
}
.contenedor{
    display: flex;
    justify-content: center;
    
    width: 100vw;
    height: 70vh;
    
}
.divForm{

    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    max-width: 250px;
    min-height: 170px;
    max-height: 250px;
    justify-content: center;
    box-shadow: 0 1px 0 1px;
    
}

.divForm h2{
    margin-top: 25px;
    text-align: center;
    margin: 0px;
    margin-bottom:10px;
    
}
.divForm form {
    height: 65%;
    
    display: grid;
    width: 100%;
    
}
.divForm form input{
    background-color: unset;
    border: 0px;
    border-bottom: 1px solid rgb(0, 0, 0);


}
.divform form button{
    border-radius: 5px;
    margin: 10px;
}


.divForm form div{
    margin: 5px 0 5px 0;
    
}
.divForm form div button{
    border-radius: 4px;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    
}
.divForm form div button:hover{
    background-color: rgb(169, 169, 169);
}


.divForm form div:last-of-type{
     display: flex;
     justify-content: center;

}
.divTable{

    margin: 10px;
    width: 70% ;
    max-width: 1000px;
    min-width: 400px;

}

.divTable table{
    width: 100%;
    column-span: 2 2;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.divTable table thead{
    font-weight: 600;
}

.divTable table, th , td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
}

.divTable table tr:nth-child(even) {
    background-color: #a6a6a6;
  }

#titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    place-items: center;
    height: 80px;
    font-weight: 900;
    font-size: xx-large;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}
  
