body{
    margin: unset;
    height: 100vh;
}
.contenedor{
    display: flex;
    justify-content: center;
    
    width: 100vw;
    height: 70vh;
    
}
.divForm{
    position: relative;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    max-width: 250px;
    min-height: 170px;
    max-height: 300px;
    justify-content: center;
    border: 1px solid;

    
}

.divForm h2{
    margin: unset;
    margin-top: 40px;
    text-align: center;
    margin-bottom:10px;
    
}
.divForm form {
    height: 65%;
    
    display: grid;
    width: 100%;
    
}
.divForm form input{
    background-color: unset;
    border: 0px;
    border-bottom: 1px solid rgb(0, 0, 0);


}
.divform form button{
    border-radius: 5px;
    margin: 10px;
}


.divForm form div{
    margin: 5px 0 5px 0;
    
}
.divForm form div button{
    border-radius: 4px;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    
}
.divForm form div button:hover{
    background-color: rgb(169, 169, 169);
}


.divForm form div:last-of-type{
     display: flex;
     justify-content: center;

}
.divTable{

    width: 70% ;
    max-width: 1000px;
    min-width: 400px;
    margin: 10px 30px 10px 30px;

}

.divTable table{
    width: 100%;
    column-span: 2 2;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
.divTable table thead{
    font-weight: 600;
}

.divTable table, th , td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
}

.divTable table tr:nth-child(even) {
    background-color: #a6a6a6;
  }

#titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    place-items: center;
    height: 80px;
    font-weight: 900;
    font-size: xx-large;
    margin-bottom: 30px;
    background-color: #a6a6a6;
}

.pie-de-pag{
    display: flex;
    position: fixed;
    bottom: 0px;
    height: 50px;
    background-color: #a6a6a6;
    width: 100vw;
    align-content: center;
    justify-content: center;
    place-items: center;


}

.divimg{
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -30px;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border: 1px solid;
}
.divimg img{
    min-width: 10px;

}
#anuncio{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
#anuncio div{
    display: none;
    width: 50%;
    padding: 12px;
    max-width: 600px;
    min-width: 300px;
    background-color: rgba(255, 60, 0, 0.325);
    border-radius: 5px;

}
#anuncio div span{
    float: right;

}
#anuncio div span:hover{
    color: aliceblue;
    cursor: pointer;
    
}
.divTable button {
    padding: 10px;
    margin: 15px;
    float: right;
}